!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Civitas
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #menu
      .container
        .logo= link_to((image_tag 'logo.png'), root_path)
        %ul
          %li.first{class: ('active' if params[:action] == 'about')}= link_to 'O nas', about_path
          %li{class: ('active' if params[:action] == 'about')}= link_to 'Zarządzanie najmem'
          %li{class: ('active' if params[:action] == 'offers')}= link_to 'Oferty'
          %li{class: ('active' if params[:action] == 'services')}= link_to 'Usługi'
          %li{class: ('active' if params[:action] == 'contact')}= link_to 'Kontakt'
    = yield
    #footer
      .container
        %ul.social
          %li
            %i.fa.fa-facebook
          %li
            %i.fa.fa-twitter
          %li
            %i.fa.fa-linkedin
        %span Łukasz Wojtczak Nieruchomości Civitas-Poznan
